---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>hri furniture &middot; workplace furnishings since 1949</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='{{site.baseurl}}/fonts/open-sans.css'>
  <link rel='stylesheet' href='{{site.baseurl}}/app.css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Dosis:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id='container'>

    <div id="header">
      <div class="navigation">
        <a href="{{site.baseurl}}" class="title">hri furniture &middot; workplace furnishings since 1949</a>
      </div>
    </div>

    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      Developed by <a href="http://reliantcloudcomputing.com">Reliant Cloud Computing</a>. &copy;2013 hri furniture. All rights reserved.
    </div>
  </div>
</body>
</html>
